@page "/forms-demo"

<h3>Forms</h3>
<p>Let's try some custom design form inputs :)</p>
<EditForm Model=@Model OnValidSubmit=@OnValidSubmit>
    <p><label for="switchinput">Switch input :</label><SwitchInput Id="switchinput" @bind-Value="Model.SwitchDemo" /> value : @Model.SwitchDemo</p>
    <p>
        <LoadingButton State=@FormState Type="submit">
            <span>Test</span>
        </LoadingButton>
    </p>
</EditForm>

@code {

    private FormsDemoModel Model { get; set; } = new FormsDemoModel();

    private WorkingState FormState { get; set; }

    private async void OnValidSubmit()
    {
        FormState = WorkingState.Working;
        StateHasChanged();
        await Task.Delay(3000).ConfigureAwait(true);
        FormState = WorkingState.Success;
        StateHasChanged();
    }
}
